@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  --Verydarkblue: hsl(233, 47%, 7%);
  --Darkdesaturatedblue: hsl(244, 36%, 18%);
  --Softviolet: hsl(277, 64%, 61%);
}

body {
  background: var(--Verydarkblue);
}
.big-container {
  width: 100vw;
  height: 96vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: var(--Darkdesaturatedblue);
  width: 86%;
  height: 446px;
  display: flex;
  box-sizing: border-box;
  border-radius: 16px;
  overflow: hidden;
}

.left-content {
  width: 60.5%;
}

.left-content h4 {
  margin-left: 7rem;
  margin-top: 4.3rem;
  margin-right: 2em;
  font-size: 3em;
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 700;
  color: white;
}

.left-content h4 .color {
  color: purple;
}

.left-content p {
  margin-top: 2em;
  margin-left: 5em;
  margin-right: 7em;
  font-size: 1.4em;
  font-family: "Inter", sans-serif;
  color: rgba(255, 251, 251, 0.5);
}

.left-content ul {
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  margin-left: 3.5em;
}

.left-content ul li {
  color: white;
  list-style: none;
}

.left-content ul li .main {
  font-family: "Lexend Deca", sans-serif;
  font-size: 2.2em;
}

.left-content ul li .content {
  margin-top: 5px;
  color: rgba(255, 251, 251, 0.5);
}

.right-content {
  width: 40%;
  background: rgb(61, 0, 61);
}
.right-content .img {
  background: url("./images/image-header-desktop.jpg");
  height: 100%;
  width: 100%;
  opacity: 0.3;
}

@media only screen and (max-width: 1100px) {
  .container {
    flex-direction: column-reverse;
    height: 80vh;
    overflow: scroll;
  }
  .left-content {
    width: 100%;
    height: 70%;
    overflow: auto;
  }
  .right-content {
    width: 100%;
    height: 35%;
    overflow: visible;
  }
  .right-content .img {
    background: url("./images/image-header-mobile.jpg");
    background-size: cover;
  }
  .left-content h4 {
    margin: 18px;
    width: 95%;
    font-size: 2em;
  }
  .left-content head {
    margin: 10px 18px;
    width: 95%;
  }
  .left-content h4 .design {
    margin-left: 34%;
  }
  .left-content p {
    width: 95%;
    margin: 0 11px;
    margin-top: 25px;
    font-size: 20px;
  }
  .left-content ul {
    flex-direction: column;
    margin: 11px 40%;
  }
  .left-content ul li {
    margin-top: 15px;
  }
}
